---
import { buildSlug } from "@utils/utils"

import data from "~/data/site.json"

import Layout from "@layouts/Layout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import { Icon } from "astro-icon/components"
import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"

const meta: Meta = {
  title: "Meta title",
  description: "Meta description",
  // openGraph: {},
  // twitter: {},
  og: false,
  tw: false,
}

const schema: Schema = {
  "@context": "https://schema.org/",
  "@type": "Website",
  name: "Łukasz Miłoś",
  url: data.site.domain,
  description: "Strona www",
}
---

<Layout meta={meta} schema={schema}>
  <div class="m-12 flex w-full justify-center">
    <h1 class="text-center">Strona internetowa</h1>
  </div>
</Layout>
